  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="/js/jquery-1.10.2.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <script src="/js/plugins/jquery.form/jquery.form.js"></script>
  <script src="/js/slide.js"></script>

  </body>
</html>
